*{
  font-family: 'Poppins', sans-serif;
}
.font-bigger{
  font-size: 6rem;
}
.page-footer{

  margin: 0;
  padding: 0;
  background-color: #657253;
}
.sans-serif-font{
  font-family: 'Poppins', sans-serif;
}
.hand-writing{
  font-family: 'Satisfy', cursive!important;
}
.color-main{
  color: #95CA4D!important;
}
.color-main2{
  color: #EA375C!important;
}
.color-alpha{
  color: rgba(255,255,255,.8)!important;
}
.bg-main{
  background-color: #95CA4D!important;
}
header{
  box-shadow: 0 0 10px 3px rgba(165, 165, 165, .15);
  position: relative;
  z-index: 50;
}
.header-top{
  background-color: #F5F5F5;
}
.social .nav-link{
  padding: .5rem .5rem;
  color: black;
  transition: color .3s;
}
.social .nav-link:hover{
  color: #8DAC5C;
}
.search{
  position: relative;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.1);
  background-color: white;
}
.search input{
  margin-right: 0!important;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #333;
  display: block;
}
.search input:focus{
  box-shadow: none;
}
.search button{
  position: absolute;
  right: 0;
  border: none;
  color: black;
}
.search button:hover, .search button:focus, .search button:active{
  background-color: transparent!important;
  color: black!important;
  box-shadow: none!important;
}
nav .nav-link {
  color: black!important;
  transition: color .3s;
  font-size: 1.3rem;
  padding: .5rem 1.2rem!important;
}
nav .nav-link:hover{
  color: #8DAC5C!important;
}
nav .dropdown .dropdown-menu {
    display: block;
    transition: all 0.3s;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transform: translate(0, 0);
    top: 120%;
    border: none;
    background-color: #F5F5F5;
    padding: 1rem 2rem;
}
nav .dropdown-menu a{
  padding: .6rem 0;
}

nav .dropdown:hover .dropdown-menu {
    transform: translate(0, -20px);
    opacity: 1;
    visibility: visible;
}
nav .dropdown-item{
  transition: all .3s ease;
  border-bottom: 1px solid black!important;
}
nav .dropdown-item:last-child{
  border-bottom: none!important;
}
nav .dropdown-item:hover{
  color: #95CA4D!important;
  background-color: transparent!important;
}
.shopping-cart{
  position: relative;
}
.shopping-cart span{
  position: absolute;
  right: 0;
  top: 0;
}
.page-footer .nav-link{
  color: #88BB42!important;
  transition: color .3s
}
.page-footer .nav-link:hover{
  color: white!important;
}
.slide-main .carousel-item {
  opacity: 0.1;
  transition: opacity .8s ease-in-out;
}
.slide-main .carousel-item .carousel-caption{
  opacity: 0;
  transition: opacity .8s ease-in-out;
}
.slide-main .carousel-item.active, .slide-main .carousel-item.active .carousel-caption{
  opacity: 1;
}
.slide-main .carousel-item .carousel-caption{
  transition-delay: .7s;
}
.slide-main .carousel-item:nth-child(1) .carousel-caption{
  top: 0;
}
.slide-main .carousel-item:nth-child(2) .carousel-caption{
  top: 0;
  right: 0;
  left: 35%;
}
.slide-main .carousel-item:nth-child(3) .carousel-caption{
  top: 0;
  right: 35%;
  left: 0;
}
.slide-main .carousel-item:nth-child(3) .color-main2{
  color: #BADF25!important;
}
.slide-main .carousel-item:nth-child(3) button{
  color: white;
  background-color: transparent;
  border-color: white;
}
.slide-main .carousel-item:nth-child(2) button{
  background-color: #ea375c;
  border-color: #ea375c;
  color: white;
}
.slide-main .carousel-item .carousel-caption h1{
  font-size: 3rem;
  display: block;
}
.slide-main .carousel-item .carousel-caption button{
  border-width: 3px;
}
.slide-main .carousel-item .carousel-caption button:hover{
  border-color: #ea375c;
  color: #ea375c;
  background-color: transparent;
}
.slide-main .carousel-control-next, .slide-main .carousel-control-prev{
  background-color: #141D23;
  height: 50px;
  width: 50px;
  top: 45%;
  transition: all .3s ease;
}
.banner img{
  transition: all .3s ease;
  display: block;
}
.banner a:hover img{
  transform: scale(1.02);
  box-shadow: 6px 8px 16px rgba(186, 186, 213, 0.57);
}
h3.title{
  border-top: 1px dashed lightgray;
}
.slide-products .carousel-control-next, .slide-products .carousel-control-prev{
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  top: 43%;
  transition: all .3s ease;
}
.slide-products .carousel-control-next:hover, .slide-products .carousel-control-prev:hover{
  border-color: #8dc63f;
  background-color: #8dc63f;
}
.slide-products .carousel-control-next:hover .carousel-control-next-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.slide-products .carousel-control-prev:hover .carousel-control-prev-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slide-products .carousel-control-prev-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slide-products .carousel-control-next-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.rate-star{
  color: #EA375C;
  text-align: left;
}
.rate-star svg{
  margin-right: 4px;
}
.product-image{
  border: 1px solid #F3F3F3;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.product-image img{
  transition: all .8s ease;
}
.product-image:hover img{
  transform:  scale(1.05);
}
.product-featured::after{
  position: absolute;
  top: 15px;
  left: 15px;
  content: "featured";
  color: white;
  background-color: rgba(248, 169, 29, .9);
  padding: .3rem .6rem;
  font-size: .9rem;
}
.products span.text-secondary{
  text-decoration: line-through!important;
}
.product-sale::after{
  position: absolute;
  top: 15px;
  left: 15px;
  content: "sale";
  color: white;
  background-color: rgba(234, 55, 92, .9);
  padding: .3rem .6rem;
  font-size: .9rem;
}
.products p{
  margin-bottom: .6rem;
}
.products button{
  border-radius: 0;
}
.products button:hover{
  border-color: #EA375C;
  background-color: #EA375C;
}
.news-events img{
  display: block;
  margin: auto;
}

.news-events div h3{
  position: absolute;
  bottom: 0;
  color: white;
  font-weight: bold;
  transition: all .3s ease;
}
.news-events div h3:hover{
  color: black;
}
.carousel-indicators .active{
  border: 3px solid black;
}
.carousel-indicators li{
  width: 12px!important;
  height: 12px!important;
  border-radius: 50%;
  border: 3px solid lightgray;
}
.sub-follow{
  background-color: #889B53;
  color: white;
}
.sub-follow h3{
  border: none;
}
.sub-follow input, .sub-follow button{
  border-radius: 0;
  border: none;
}
.sub-follow input{
  background-color: rgba(255, 255, 255, .1);
  color: white!important;
}
.sub-follow input::placeholder{
  color: white;
}
.sub-follow input:focus{
  background-color: rgba(255, 255, 255, .1)
}
.sub-follow button{
  background-color: #EA375C;
  color: white;
}
.sub-follow button:hover{
  background-color: white;
  color: black;
}
.sub-follow ul li{
  background-color: white;
  margin-right: .5rem;
  margin-left: .5rem;
  border-radius: 50%;
  padding: .8rem .2rem;
  transition: all .3s ease;
}

.sub-follow ul li a{
  color: #889B53;
  transition: all .3s ease;
}
.sub-follow li:hover{
  background-color: #EA375C;
}
.sub-follow li:hover a{
  color: white;
}
ol.breadcrumb a{
  color: #343a40;
  transition: all .3s;
}
ol.breadcrumb a:hover{
  color: #EA375C;
  text-decoration: none;
}
ol.breadcrumb li.active{
  color: #EA375C;
}
.border-bottom-dashed{
  border-bottom: 1px dashed lightgray;
}
.shorting{
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}
.shorting svg{
  position: absolute;
  right: 0;
  height: 100%;
}
.shorting-text{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.aside > h4{
  border-top: 1px solid lightgray;
}
.browse a{
  color: #9CCE59;
  border-bottom: 1px solid lightgray;
  transition: color .3s;
}
.browse a:hover{
  color: black;
}
.browse li:last-child a{
  border-bottom: none;
}
.browse a span{
  float: right;
  color: #EA375C;
}
.filter-price{
  background-color: #FBFBFC;
}
.filter{
  border: 1px solid lightgray;
  padding: 2px 0;
  position: relative;
}
.filter::before,.filter::after{
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 180%;
  width: 2px;
  background-color: black;
}
.filter::before{
  left: 0;
}
.filter::after{
  right: 0;
}
.filter div{
  background-color: #9CCE59;
  height: 4px;
}
.filter-price button{
  border-radius: 0;
  color: white;
  background-color: #EA375C;
  font-weight: bold;
}
.filter-price button:hover{
  background-color: black;
}

#products{
    position: relative;
     padding: .5rem 1.2rem!important;

}
#products>a{
    color: #88BB42!important;
  transition: color .3s;
 

}


#products h3{
  background-color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  bottom: 30px;
  width: 70%;
  font-weight: bold;
}

#products:hover h3{
  color: white;
  background-color:#88BB42;
  transition: all .3s ease;
}
ul.product-categories{
  list-style-type: none;
  margin:0;
  padding: 0;

}
ul.product-list{
  list-style-type: none;
  margin:0;
  padding: 0;


}
.top-rated{
  border-top: 1px solid black;
  border-bottom:  1px solid black;

padding-top: 30px;
padding-bottom: 30px;


}
ul.product-list>li{
    position: relative;
    padding-top: 15px;
    padding-bottom: 10px;
    
}

ul.product-widget{
  list-style-type: none;
  margin:0;
  padding: 0;


}
ul.product-list>li>a{
  text-decoration: none;
    
}

.nav-item2>a{


  color:grey!important;
  transition: color .3s;
 

}
.nav-item2{
 
padding-bottom: 2px;
 padding-top: 1px;


}

.nav-item2>a:hover{
text-decoration: none;
 color:  #88BB42!important;
 

}
.product_title_link>a{
  color:black!important;
  transition: color .3s;

}
.product_title_link>a:hover{
text-decoration: none;
 color:  #88BB42!important;
 

}
span.price{
  color:red;
}
.images1{
height: 160px;
float: left;
padding-right: 20px;
}
.images2{
height: 150px;
float: left;
padding-right: 20px;
}
.images3{
height: 50px;

float: left;
padding-right: 20px;
}
.by{
  color: #88BB42;
}