*{
 font-family: 'Jura', sans-serif;
}
.page-footer{

  margin: 0;
  padding: 0;
  background-color: #657253;
}
strong{
      font-weight: 400;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0px;
}
.color-main{
  color: #8DAC5C!important;
}
.color-alpha{
  color: rgba(255,255,255,.8)!important;
}
.color-secondary{

}
.bg-main{
  background-color: #8DAC5C;
}
 .page-footer a {
    color: #9eb874;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}
.page-footer p {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}
.footer_logo{
  text-align: center;
}
.header-top{
  background-color: #F5F5F5;
}
.social .nav-link{
  padding: .5rem .5rem;
  color: black;
  transition: color .3s;
}
.social .nav-link:hover{
  color: #8DAC5C;
}
.search{
  position: relative;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.1);
  background-color: white;
}
.search input{
  margin-right: 0!important;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #333;
  display: block;
}
.search input:focus{
  box-shadow: none;
}
.search button{
  position: absolute;
  right: 0;
  border: none;
  color: black;
}
.search button:hover, .search button:focus, .search button:active{
  background-color: transparent!important;
  color: black!important;
  box-shadow: none!important;
}
nav .nav-link {
  color: black!important;
  transition: color .3s;
  font-size: 1.3rem;
  padding: .5rem 1.2rem!important;
}
nav .nav-link:hover{
  color: #8DAC5C!important;
}
.shopping-cart{
  position: relative;
}
.shopping-cart span{
  position: absolute;
  right: 0;
  top: 0;
}
.page-footer .nav-link{
  color: #88BB42!important;
  transition: color .3s
}
.page-footer .nav-link:hover{
  color: white!important;
}

.browse{
  border-top: 1px solid black;
  padding-top:20px;
}
.nav-item1>a{
  color: #88BB42!important;
  transition: color .3s;
 

}
.nav-item1{
 
   padding-bottom: 10px;
 padding-top: 10px;
  border-bottom: 1px solid grey;

}
.nav-item1>span{
 
 float: right;
 color: red;

}
.nav-item1>a:hover{

text-decoration: none;
 color: black!important;
 

}

#products{
    position: relative;
     padding: .5rem 1.2rem!important;

}
#products>a{
    color: #88BB42!important;
  transition: color .3s;
 

}


#products h3{
  background-color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  bottom: 30px;
  width: 70%;
  font-weight: bold;
}

#products:hover h3{
  color: white;
  background-color:#88BB42;
  transition: all .3s ease;
}
ul.product-categories{
  list-style-type: none;
  margin:0;
  padding: 0;

}
ul.product-list{
  list-style-type: none;
  margin:0;
  padding: 0;


}
.top-rated{
  border-top: 1px solid black;
  border-bottom:  1px solid black;

padding-top: 30px;
padding-bottom: 30px;


}
ul.product-list>li{
    position: relative;
    padding-top: 15px;
    padding-bottom: 10px;
    
}

ul.product-widget{
  list-style-type: none;
  margin:0;
  padding: 0;


}
ul.product-list>li>a{
  text-decoration: none;
    
}

.nav-item2>a{


  color:grey!important;
  transition: color .3s;
 

}
.nav-item2{
 
   padding-bottom: 2px;
 padding-top: 1px;


}

.nav-item2>a:hover{
text-decoration: none;
 color:  #88BB42!important;
 

}
.product_title_link>a{
  color:black!important;
  transition: color .3s;

}
.product_title_link>a:hover{
text-decoration: none;
 color:  #88BB42!important;
 

}
span.price{
  color:red;
}
.fa-star{
  color: red;
}
.images1{
height: 160px;
float: left;
padding-right: 20px;
}
.images2{
height: 150px;
float: left;
padding-right: 20px;
}
.images3{
height: 50px;

float: left;
padding-right: 20px;
}
.by{
  color: #88BB42;
}