.page-footer{

  margin: 0;
  padding: 0;
  background-color: #657253;
}
strong{
      font-weight: 400;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0px;
}
 .page-footer a {
    color: #9eb874;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}
.page-footer p {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}
.footer_logo{
  text-align: center;
}