

#products{
    position: relative;
     padding: .5rem 1.2rem!important;

}
#products >a img{
    padding: 5px;
}

#products >a h3{

position: absolute;
text-align: center;
    bottom: 30px;
}
.nav-item{
    list-style-type: none;
}